html,
body {
  overflow-x: visible; // This fixes the scroll wheel issue in IE
}
.sb-slidebar.sb-active {
  padding-top: 70px;
}
.stats {
  text-align: center;
}
#page {
  position: relative;
}
/* FOR DEMO ONLY */
body {
  height: 1000px;
}

/* MIXINS */
@mixin MQ($point) {
  $small: "(max-width: 775px)";
  $medium: "(max-width: 970px)";
  @if $point == small {
    @media #{$small} { @content; }
  }
  @if $point == medium {
    @media #{$medium} { @content; }
  }
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow:$shadow;
  -moz-box-shadow:$shadow;
  box-shadow:$shadow;
}

@mixin box-shadow-style($type) {
  $nav: 0px 1px 9px rgba(0, 0, 0, .2);
  @if $type == nav {
    @include box-shadow($nav);
  } 
}

/* NAVIGATION
 * ----------
 * .large - controls pieces that should be shown on larger screens.
 * .small - controls pieces that should be shown on smaller screens. 
 */

#nav {
  padding: 15px 0;
  width: 100%;
  display: block;
  background-color: rgba(255,255,255,1);
  box-sizing: border-box;
  
  .clear { clear:both; }
  
  a {
    text-decoration: none;
    line-height: 50px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  h1 {
    float: left;
    font-weight:bold;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
  }
  
  h1.large {
    width: 0;
    overflow: hidden;
  }
  
  h1.large a {
    display: block;
    width: 50px;
    background: green;
    text-align: center;
    color: #fff;
  }
  
  ul.nav-buttons {
    float: right;
    display: none;
    @include MQ(small) {
      display: block; 
    }
  }
  
  ul.nav-buttons li {
    display: inline-block;
  }
  
  ul.nav-buttons a {
    display: inline-block;
    float: right;
    height: 35px;
    width: 35px;
    margin-top: 7px;
  }
  
  ul.nav-buttons a.search-menu {
    background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Search_font_awesome.svg/512px-Search_font_awesome.svg.png) no-repeat center center;
    background-size: 35px 35px;
    margin-right: 15px;
  }

  ul.nav-buttons a.login-menu {
    background: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-128.png) no-repeat center center;
    background-size: 35px 35px;
  }
  
  ul.menu {
    float: left;
  }
  
  ul.menu li {
    display: inline-block;
    margin-right: 1em;
    font-size: 2em; 
  }
  
  ul.menu a {
    display: block;
    height: 50px;
    @include MQ(medium){
      font-size: 70%;
    }
  }
  
  ul.menu.small li {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #eee; 
  }
  
  #js-searchbox {
    display: none;
    clear: both;
  }
  
  .large {
    display: block;
    @include MQ(small) {
      display: none; 
    }
  }
  
  .small {
    display: none; 
    @include MQ(small) {
      display: block;
    }
  }
  
  @include MQ(small) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 15px;
    @include box-shadow-style(nav);
  }
  
}

#nav.js-sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 15px;
  @include box-shadow-style(nav);
  
  /* Logo Animation */
  h1.large {
    width: 50px;
    margin-right: 15px;
    transition: .4s;
  }  
  
  ul.nav-buttons {
    display: block;
  }
}

#nav.js-sticky + #js-content {
  margin-top: 80px;
}

/* Toggle Header for Mobile */
@include MQ(small) {
  #header { display: none; }
  body { padding-top: 95px; }
}