// Typography
$bodytype: source-sans-pro, Helvetica, Arial, sans-serif;
$headingtype: newslabregular;
$meditechtype: Arial, sans-serif;
$font-size: 1em;

// Colors
$headingColor: #3e4545;
$white: #fff;
$black: #000;
$meditech-green: #006652;

// Links
$heading-linkColor: #009abc;
$linkColor: #009abc;
$hoverColor: darken(#009abc, 20);